<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-card>
    <ion-card-content class="myphoto">
      <ion-img src="../../assets/icon/Tech Formating_free-file.png"></ion-img>
    </ion-card-content>
  </ion-card> -->
  <ion-img class="myphoto" src="../../assets/icon/logo.png"></ion-img>
  <form class="ion-margin">    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input autocomplete="on" type="text" #email required></ion-input>
    </ion-item> 
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <br>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="signUp(email, password)" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Copyright©2022 TechForm</ion-title>
  </ion-toolbar>
</ion-footer>