<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="myFormations">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>My Formations</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home" (click)="authService.SignOut()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>log-out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>